.table {
  display: flex;
  flex-direction: column;
  background: var(--secondary-main);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}

.entry {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--border);
  margin: 10px 0px;
}

.entry > div {
  flex: 1;
  font-weight: bold;
  margin-right: 20px;
}

.entry > span {
  color: red;
  font-weight: bold;
}

.entry > span > span {
  color: var(--subtext);
  font-weight: regular;
  font-size: 14px;
  text-decoration: line-through;
}

.image {
  border-radius: 16px;
  width: 100%;
}

.list {
  list-style: upper-roman;
}

.list > li {
  margin-bottom: 10px;
}

.button {
  background: var(--accent);
  outline: none;
  border: none;
  border-radius: 8px;
  color: var(--white);
  transition-duration: 0.25s;
  padding: 10px;
  align-self: center;
  text-decoration: underline;
}

.button:hover {
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(2px);
}

.notice {
  display: flex;
  flex-direction: column;
  background: var(--accent);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  color: var(--white);
}

.notice > p {
  font-size: 14px;
}

.link {
  color: white
}

.styledtable {
  display: table;
  border: 2px solid black;
  border-style: solid;
  border-collapse: collapse;
}
