.root > h1 {
  border-bottom: 1px solid var(--border);
}

.topics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid var(--border);
  border-left: none;
  border-right: none;
}

.topics > ul {
  list-style: none;
  padding: 0px;
}

.topics > ul > li {
  padding: 5px;
}
